.element__button-delete {
  width: 18px;
  height: 19px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../../../images/trash-icon.svg);
  background-size: cover;
  top: 20px;
  right: 20px;
  position: absolute;
  padding: 0;
}
.element__button-delete:hover {
  opacity: 0.5;
  transition: opacity 1s ease;
}